<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameOn</title>
    <link rel="stylesheet" href="../css/ForgotPassword.css">
    <link rel="stylesheet" href="../css/ForgotPasswordResponsive.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display&family=Teko:wght@300..700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="ForgotPassword_card">
        <form action="" class="email active" id="email">
            <h1 class="GameOn"><span class="GO">g</span>ame<span class="GO">o</span>n</h1>
            <input type="text" placeholder="enter your email" class="user_email user_input" id="user_email">
            <button type="submit" class="submit_email" id="submit_email">submit</button>
        </form>
        <form action="" class="password" id="password">
            <h1 class="GameOn"><span class="GO">g</span>ame<span class="GO">o</span>n</h1>
            <input type="password" placeholder="new password" class="user_input" id="new_password">
            <input type="text" placeholder="confirm password" class="user_input" id="confirm_password">
            <button type="submit" class="submit_password">submit</button>
        </form>
    </div>
    <script src="../js/ForgotPassword.js"></script>
</body>

</html>